@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0 0;
  padding: 0 0;
}

body {
  background-color: rgb(230, 230, 230);
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 400px;
  margin: 10vh auto 0 auto;
  box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
  background-color: rgb(175, 175, 175);
  border: 3px solid rgb(143, 143, 143);
}

#display {
  /* border: 1px solid red; */
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
}

.buttons {
  display: grid;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
  border-top: 1px solid #999;
  border-right: 1px solid #999;
}

.button {
  border: 0.5 px solid #999;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

.button:hover {
  background-color: black;
  color: white;
  transition: 0.5s ease-in-out;
}

#equal {
  background-color: rgb(128, 179, 255);
  color: white;
}

#equal:hover {
  background-color: rgb(19, 94, 255);
  color: white;
  transition: 0.5s ease-in-out;
}
